body{
    background-color: grey;
}
/*navBar*/
#mainNav{
    padding-right: 120px;
    padding-left: 150px;
    opacity: 0.95;
    filter: alpha(opacity=95);
  }
  .nav-link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    margin-right: 35px;
  }
  
  @media only screen and (max-width: 1380px){
    .nav-link{
      font-size: 1.1em;
    }
  }
  
  @media only screen and (max-width: 1310px){
    .nav-link{
      font-size: 1em;
    }
  }
  @media only screen and (max-width: 1250px){
    .nav-link{
      font-size: .95em;
    }
  }
  @media only screen and (max-width: 1220px){
    .nav-link{
      font-size: .9em;
    }
  }
  @media only screen and (max-width: 1184px){
    .nav-link{
      font-size: .85em;
    }
  }
  @media only screen and (max-width: 1156px){
    .nav-link{
      font-size: .8em;
    }
  }
  @media only screen and (max-width: 1126px){
    .nav-link{
      font-size: .75em;
    }
  }
  @media only screen and (max-width: 1088px){
    .nav-link{
      font-size: .7em;
    }
  }
  @media only screen and (max-width: 1056px){
    .nav-link{
      font-size: .65em;
    }
  }
  @media only screen and (max-width: 1030px){
    .nav-link{
      font-size: .55em;
    }
  }
.div_container{
    align-content: center;
    height:800px;
    width:90%;
}
#resumeEmbed{
    height: 800px;
    width: 100vw;
    float: left;
    padding-left:10%;
    padding-right:10%;
}
@media only screen and (max-width: 440px){
  #resumeEmbed{
    height: 100vh;
    width: 100vw;
  }
}
#page-header{
    height: 100px;
    width: 100%;
}
#page-left{
    width: 20px;
    height: 800px;
    float: left;
}
#page-right{
    width: 20px;
    height: 800px;
    float: right;
}

#copyright{
    font-size:12;
}
embed{
    margin-top: 12px;
}
footer{
    position: relative;
}